<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel ="stylesheet" type="text/css" href="style.css"/>
      <title>David A. Love</title>
  </head>
  <body>
    <ul id="menu">
      <h1 style= "color: green;"> David Attenborough's Fan Site </h1>
      <h3>Welcome to a page all about David</h3>
      <a href="index.erb"><li>HOME</li></a>
      <a href="Blue"><li>ABOUT</li></a>
    </ul>
    <h4> Sign up to here more! </h4>
    <form method="post" action="/signup">
      <input type="text" id="name" name="name" placeholder="Sam Ree">
      <input type="email" id="email" name="email" place holder="sam@example.com">
      <input type="submit" name="Submit" value="Submit">
    </form>
    <li>
        <div>
          <img src="https://img.maximummedia.ie/joe_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE4XFxcLzAyXFxcLzE5MTMzMTI0XFxcL1NEQS5qcGdcIixcIndpZHRoXCI6NzY3LFwiaGVpZ2h0XCI6NDMxLFwiZGVmYXVsdFwiOlwiaHR0cHM6XFxcL1xcXC93d3cuam9lLmllXFxcL2Fzc2V0c1xcXC9pbWFnZXNcXFwvam9lXFxcL25vLWltYWdlLnBuZz92PTVcIn0iLCJoYXNoIjoiNTI1ZTdmMDA5MjlmMjc3OWEyZjA1MzZmMzk2ZjBmZGI2OWFlNmMwOCJ9/sda.jpg" alt=""/>
          <h2>STYLE</h2>
          <p>choose bar by style</p>
      </div>
    </li>

  </body>
</html>
