<!DOCTYPE html>
<html
lang=en
ng="app"
ng-controller="AppController as app">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Blue Planet</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
    <!-- Load custom styles -->
    <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Rubik|Work+Sans" rel="stylesheet">
    <link rel='stylesheet' href='css/homepage_style.css'>
    <link rel="stylesheet" href='page.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <header>
    <div class="nav">
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      <input type="checkbox" id="nav-check">
      <div class="nav-links">
        <a href="index">Home</a>
        <a href="dynasties">Dynasties</a>
        <a href="blue">Blue Planet</a>
        <a href="earth">Planet Earth</a>
        <a href="life.html">Life</a>
      </div>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1> Blue Planet </h1>
          <p>The Blue Planet is a British nature documentary series created and produced by the BBC. It premiered on 12 September 2001 in the United Kingdom. It is narrated by David Attenborough.

Described as "the first ever comprehensive series on the natural history of the world's oceans", each of the eight 50-minute episodes examines a different aspect of marine life. The underwater photography included creatures and behaviour that had previously never been filmed.
          </p>
<!--Slideshow-->
          <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="https://www.konbini.com/en/files/2017/09/33957295-b2a0-40dd-989c-5178d5519763-1.jpeg" style="width:100%">
            <div class="text">Cover</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="https://ichef.bbci.co.uk/images/ic/320x180/p05qrzzm.jpg" style="width:100%">
            <div class="text">Seal</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="https://pmcvariety.files.wordpress.com/2018/01/bpii_episode.jpg?w=1000" style="width:100%">
            <div class="text">Orca</div>
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          </div>
          <br>

          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>

          <script>
          var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n) {
            showSlides(slideIndex += n);
          }

          function currentSlide(n) {
            showSlides(slideIndex = n);
          }

          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
          }
          </script>

        </div>
      </div>
      <div class= "row">
        <div class= "col-sm-3">
          <h4> Introduction </h4>
         <div class="part">
           <img src="https://ichef.bbci.co.uk/images/ic/640x360/p05n1fvk.jpg" alt="" width="250" height="213">
         </div>
          <p>The opening episode shows how ocean life is regulated around the globe by currents and the varying position of the sun. Near a Pacific seamount, there is a large concentration of marine animals because when the current makes contact with the submerged rock, it forces upwards plankton and other organisms.
          </p>
       </div>
       <div class= "col-sm-3">
         <h4> The Deep </h4>
         <div class="part">
             <img src="https://www.telegraph.co.uk/content/dam/tv/2017/12/03/TELEMMGLPICT000145868132_trans_NvBQzQNjv4BqNJjoeBT78QIaYdkJdEY4CnGTJFJS74MYhNY6w3GNbO8.jpeg?imwidth=450" alt="" width="250" height="213">
        </div>
          <p>This episode explores the unknown depths of the ocean. Over 60% of the sea is more than a mile deep and it forms the planet's most mysterious habitat. A sperm whale descends 1,000 metres to look for food and is followed, with the Johnson Sealink submersible. On the way down, a number of unusual creatures are witnessed, such as transparent squid and jellies, whose photophores give pulsating displays of colour.
          </p>
       </div>
       <div class= "col-sm-3">
         <h4> Open Ocean</h4>
         <div class="part">
             <img src="https://ichef.bbci.co.uk/images/ic/640x360/p05rr3ds.jpg" alt="" width="250" height="213">
        </div>
          <p>The third instalment focuses on life in the "marine deserts": seas that are furthest from land. Such waters contain the swiftest and most powerful of ocean hunters. A feeding frenzy is shown, as striped marlin, tuna and a sei whale (later identified as a Bryde's whale) pick off a shoal of sardines until all within it have been consumed.
          </p>
       </div>
       <div class= "col-sm-3">
         <h4> Frozen Seas </h4>
         <div class="part">

             <img src="https://ichef.bbci.co.uk/images/ic/640x360/p05rr5cm.jpg" alt="" width="250" height="213">

        </div>
        <p>This episode compares oceanic life in the Arctic and Antarctica. The winter in these regions brings temperatures of minus 50 °C and frozen seas that create the biggest challenge. However, there are polynyas in the Arctic, which are free of ice owing to the pressure of currents on either side, and such places do provide refuge for some species, like the walrus and the bowhead whale.
        </p>
       </div>
    </div>
  </div>
  </body>
</html>
