<!DOCTYPE html>
<html
lang=en
ng="app"
ng-controller="AppController as app">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Dynasties</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
    <!-- Load custom styles -->
    <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Rubik|Work+Sans" rel="stylesheet">
    <link rel='stylesheet' href='css/homepage_style.css'>
    <link rel="stylesheet" href='page.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <header>
    <div class="nav">
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      <input type="checkbox" id="nav-check">
      <div class="nav-links">
        <a href="index.html">Home</a>
        <a href="Dynasties.html">Dynasties</a>
        <a href="Blue.html">Blue Planet</a>
        <a href="Earth.html">Planet Earth</a>
        <a href="Life.html">Life</a>
      </div>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1> Dynasties </h1>
          <p>Dynasties is a 2018 British nature documentary series on five vulnerable or endangered species known to form enduring populations: chimpanzee, emperor penguin, lion, tiger and African wild dog. The series is produced by the BBC Natural History Unit and narrated by David Attenborough. The music score was composed by Benji Merrison.</p>
<!--Slideshow-->
          <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="https://ichef.bbci.co.uk/images/ic/480xn/p06n94cw.jpg" style="width:100%">
            <div class="text">All</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="https://ichef.bbci.co.uk/images/ic/720x405/p06s7g07.jpg" style="width:100%">
            <div class="text">Emporer Penguin</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="https://ichef.bbci.co.uk/images/ic/640x360/p01h92gg.jpg" style="width:100%">
            <div class="text">Tiger</div>
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          </div>
          <br>

          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>

          <script>
          var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n) {
            showSlides(slideIndex += n);
          }

          function currentSlide(n) {
            showSlides(slideIndex = n);
          }

          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
          }
          </script>

        </div>
      </div>
      <div class= "row">
        <div class= "col-sm-3">
          <h4> Emperor </h4>
         <div class="part">
           <img src="https://ichef.bbci.co.uk/images/ic/1248x702/p06n2d6j.jpg" alt="" width="250" height="213">
         </div>
          <p>A colony of emperor penguins gather in Atka Bay, on the coast of Antarctica, after three months of feeding at sea. They arrive as the water freezes over and all the other Antarctic animals have left the continent for the relative safety of the sea. The penguins have come here to raise the next generation in their emperor's dynasty. But to do so they will have to work together to keep themselves and their chicks alive through the coming winter - the coldest and cruellest on earth.</p>
       </div>
       <div class= "col-sm-3">
         <h4> Tiger </h4>
         <div class="part">
             <img src="https://ichef.bbci.co.uk/images/ic/640x360/p06n2ddt.jpg" alt="" width="250" height="213">
        </div>
          <p>This episode features a tigress named Raj Bhera who lives in Bandhavgarh Tiger Reserve in India and holds the perfect tiger territory, with dense jungle, spring-fed ponds and rich grasslands teeming with prey. And now, she has four tiny newborn cubs to care for. They are the future of her dynasty. But the idyllic world that she inhabits is changing.

Rival tigers, seeking their own territory, are encroaching on her hunting lands. One in particular, her adult daughter Solo, is challenging Raj Bhera in the heart of her territory. The powerful tigress must fight to retain control of these hunting grounds while continuing to feed and protect her growing cubs.

Solo's persistence puts pressure on the whole family, until Raj Bhera makes a decision that could end both her life and her dynasty forever.</p>
       </div>
       <div class= "col-sm-3">
         <h4> Lion </h4>
         <div class="part">
             <img src="https://ichef.bbci.co.uk/images/ic/1200x675/p06n2dc2.jpg" alt="" width="250" height="213">
        </div>
          <p>This episode features one of the most famous lion prides in Africa - the Marsh Pride of Kenya's Masai Mara. As the story begins, the Marsh Pride is in a unique situation in their history. They have been abandoned by all of the adult males who - until now - defended the pride. Just two adult females are left to feed and protect their eight youngsters.

The future of the whole family rests entirely on the shoulders of these two mothers, Charm and her cousin Sienna. They need to raise their cubs to adulthood if this great dynasty is to continue. They and their cubs will face the great perils of the African savannah, including raging herds of buffalo, rival lion prides, the constant menace of marauding hyena and, in a fateful turn of events, a clash with humanity.

An extraordinary story of leadership against all odds.</p>
       </div>
       <div class= "col-sm-3">
         <h4> Painted Wolf </h4>
         <div class="part">

             <img src="https://ichef.bbci.co.uk/images/ic/640x360/p06n2dcp.jpg" alt="" width="250" height="213">

        </div>
        <p>This episode features a painted wolf named Tait, matriarch of one of the last great families of this endangered animal. She has ruled her dynasty for many years on the banks of Zambezi river in Zimbabwe, keeping the peace within her sprawling family. But tensions are rising as Tait is growing old and her power is waning.

One of her daughters, Blacktip, lives close by. Her own pack is growing fast and they are running out of space. She urgently needs to get more territory so that her pack can catch enough food. But she has a problem, she is hemmed in on one side by human lands and there is only one way she can go to get what she needs - her own mother's lands.</p>
       </div>
    </div>
  </div>
  </body>
</html>
