<!DOCTYPE html>
<html
lang=en
ng="app"
ng-controller="AppController as app">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>David A Fan page</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
    <!-- Load custom styles -->
    <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Rubik|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/homepage_style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <header>
    <div class="nav">
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      <input type="checkbox" id="nav-check">
      <div class="nav-links">
        <a href="index">Home</a>
        <a href="dynasties">Dynasties</a>
        <a href="blue">Blue Planet</a>
        <a href="earth">Planet Earth</a>
        <a href="life">Life</a>
      </div>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1> David A Fan Club </h1>

       </div>
    </div>
  </div>
  </body>
  <h4> Sign up to hear more! </h4>
  <form method="post" action="/signup">
    <input type="text" id="name" name="name" placeholder="Sam Ree">
    <input type="email" id="email" name="email" place holder="sam@example.com">
    <input type="submit" name="Submit" value="Submit">
  </form>
    <div>
        <img src="https://img.maximummedia.ie/joe_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE4XFxcLzAyXFxcLzE5MTMzMTI0XFxcL1NEQS5qcGdcIixcIndpZHRoXCI6NzY3LFwiaGVpZ2h0XCI6NDMxLFwiZGVmYXVsdFwiOlwiaHR0cHM6XFxcL1xcXC93d3cuam9lLmllXFxcL2Fzc2V0c1xcXC9pbWFnZXNcXFwvam9lXFxcL25vLWltYWdlLnBuZz92PTVcIn0iLCJoYXNoIjoiNTI1ZTdmMDA5MjlmMjc3OWEyZjA1MzZmMzk2ZjBmZGI2OWFlNmMwOCJ9/sda.jpg" alt="David"
        class ="center"/>

    </div>

</html>
