<!DOCTYPE html>
<html>
  <head>
    <title>David Thanks You</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/homepage_style.css" />
  </head>
  <body>
    <div id="contact-form">
      <h1> Thanks, for signing up, <%= @name%>!<h1>

      <p>We've sent a confirmation email to <%= @email %>.
      </p>
  </body>
</html>
